*.db
*.vsidx
*.sqlite
*.bin
*.exe
out/
.venv
.vs
.vscode
Artifacts
/Build/Logs
/Build/.cmake
/Build/CMakeFiles
/Build/CMakeCache.txt
ThirdParty
Binaries
Intermediate
lib
/vsbuild

# Secrets
*.pem
*.key
*.p12
*.pfx

# Node
node_modules/

# Python
__pycache__/
*.pyc

# Build logs / generated artifacts
buildoutput*.txt
*.zip
*.tgz

/_o3ds_build
