# Build Artifacts
Artifacts/

# Unreal Generated Folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/

# Plugin symlink (created by Link script)
Plugins/*
!Plugins/Open3DBroadcast/
Plugins/Open3DBroadcast/**
!Plugins/Open3DBroadcast/Open3DBroadcast.uplugin
!Plugins/Open3DBroadcast/Source/
!Plugins/Open3DBroadcast/Source/**
Plugins/Open3DStream/

# Visual Studio
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml
